<nav>
    <ul>
        <li><a href="http://hugo.lpweb-lannion.fr:7777">Accueil</a></li>
        <li><a href="http://hugo.lpweb-lannion.fr:7777/article">Article</a></li>
        <li><a href="http://hugo.lpweb-lannion.fr:7777/category">Category</a></li>
    </ul>
</nav>